<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>        
		<add id="Business_MostviewedVendors::report_custom_report" title="GCC Custom Report" translate="title" module="Business_MostviewedVendors" sortOrder="100" parent="Magento_Reports::report" resource="Business_MostviewedVendors::report_custom_report"/>
        <add id="Business_MostviewedVendors::report_vendors_viewed" title="Most Viewed Vendor" translate="title" module="Business_MostviewedVendors" sortOrder="100" parent="Business_MostviewedVendors::report_custom_report" action="vesvendorreports/report_vendor/viewed" resource="Business_MostviewedVendors::viewed"/>        
    </menu>
</config>
