/var/*
!/var/.htaccess
/pub/static/*
!/pub/static/.htaccess
/generated/*
/node_modules/
/vendor/
/pub/media/*
!/pub/media/.htaccess
app/etc/env.php
app/code/Gcc/VendorDashboardOverride/view/vendors/templates/page/toplinks copy.phtml
 app/code/Gcc/VendorDashboardOverride/view/vendors/templates/page/toplinks copy 2.phtml
 magento_cron.bat
