.page-main {
    padding-top: 20px;
    /* Adjust based on your header height */
}

body.custom_result-bg {
    background-color: #F9FAFB !important;
}

/* ================================ */
/* Global Typography for Entire Site */
/* ================================ */

body,
body * {
    font-family: 'Inter', sans-serif !important;
    /* font-weight: bold !important; */
}

body.customer-account .page-main {
    padding-top: 150px !important;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: clamp(28px, 4vw, 33px);
    line-height: 1.2;
    margin: 0 0 1em 0;
}

/* Paragraphs, spans, divs, links */
p,
span,
div,
a,
li,
label,
td,
th {
    font-size: clamp(12px, 2vw, 16px);
    line-height: 1.5;
}

/* Links */
a {
    color: inherit;
    text-decoration: none;
}

/* Optional: make input/textarea readable */
input,
textarea,
select,
button {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: clamp(12px, 2vw, 16px);
}

/* Apply only on vendor-membership page */
@media (min-width: 768px) {
    .vendorsmembership-index-index .page-wrapper {
        margin: 0;
        position: relative;
        transition: margin .3s ease-out 0s;
        padding-top: 150px;
    }
}

.pricing-heading {
    color: #9C9E9F;
    margin-bottom: 4rem;
    text-align: center;
    padding-top: 10px !important;
}

@media screen and (min-width: 768px) {

    .checkout-index-index .page-wrapper,
    .checkout-cart-index.page-layout-1column .page-wrapper {
        margin: 0;
        position: relative;
        transition: margin .3s ease-out 0s;
        padding-top: 150px;
    }
}

.success-custom-padding .columns .column.main {
    padding-top: 200px !important;
}

.block.block-reorder,
.block-reorder,
.sidebar .block-reorder .sidebar-additional {
    display: none !important;
}

.opc-wrapper {

    width: 50% !important;

}
