<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vendor_membership_payment_history_data_source" xsi:type="string">Vnecoms\VendorsMembership\Model\ResourceModel\Transaction\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
      
    <!-- These attributes will not be displayed/saved from vendor cpanel. -->
	<type name="Vnecoms\VendorsProfileNotification\Helper\Data">
        <arguments>
            <argument name="processTypes" xsi:type="array">
                <item name="type_membership" xsi:type="object">Vnecoms\VendorsMembership\Model\NotificationType\Membership</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\TypeTransitionManager">
    	<plugin name="vnecoms_vendors_membership_product_transition" type="Vnecoms\VendorsMembership\Model\Product\TypeTransitionManager\Plugin\Membership" sortOrder="70" />
        <arguments>
            <argument name="compatibleTypes" xsi:type="array">
                <item name="vendor_membership" xsi:type="const">Vnecoms\VendorsMembership\Model\Product\Type\Membership::TYPE_CODE</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Vnecoms\VendorsMembership\Model\ResourceModel\Product\Indexer\Price\VirtualProductPrice" type="Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\SimpleProductPrice">
        <arguments>
            <argument name="productType" xsi:type="string">vendor_membership</argument>
        </arguments>
    </virtualType>

    <!-- Specify a custom check where `your_custom_restriction` is a unique value -->
    <type name="Magento\Payment\Model\MethodList">
        <arguments>
            <argument name="additionalChecks" xsi:type="array">
                <item name="your_custom_restriction" xsi:type="string">vendor_membership_restriction</item>
            </argument>
        </arguments>
    </type>

    <!-- Here we specify the class responsible for handling the check specified in the previous block -->
    <type name="Magento\Payment\Model\Checks\SpecificationFactory">
        <arguments>
            <argument name="mapping" xsi:type="array">
                <item name="vendor_membership_restriction" xsi:type="object">Vnecoms\VendorsMembership\Model\MembershipRestriction</item>
            </argument>
        </arguments>
    </type>

</config>
