<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="ves_vendors_vendor_tab_info_prepare_after">
    	<!-- Add credit amount to customer credit account -->
        <observer name="vnecoms_vendormembership_vendor_tab_info_prepare_after" instance="Vnecoms\VendorsMembership\Observer\Vendors\AccountFormObserver" />
    </event>
    
    <event name="controller_action_predispatch">
        <observer name="vendorsmembership_controller_action_predispatch" instance="Vnecoms\VendorsMembership\Observer\Predispatch" />
    </event>
</config>
