<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Business_VisitorcountryReport::report_custom_report"
             title="GCC Custom Report"
             module="Business_VisitorcountryReport"
             parent="Magento_Reports::report" 
             sortOrder="190"
             resource="Business_VisitorcountryReport::visitorcountry"/>

        <add id="Business_VisitorcountryReport::report_visitorcountry_visited"
             title="Visitor Country"
             module="Business_VisitorcountryReport"
             parent="Business_VisitorcountryReport::report_custom_report"
             action="visitorcountryreport/report_country/visited"
             sortOrder="10"
             resource="Business_VisitorcountryReport::visitorcountry"/>
    </menu>
</config>